
@import "modules/fonts";
@import "modules/variables";
@import "bulma";
@import "modules/overrides";

.is-vertical-center {
    display: flex;
    align-items: center;
    vertical-align: middle;
}

.is-size-0 {
    font-size: 3.5rem;
}

.is-transparent {
    background-color: transparent !important;
}

.is-marginless-top {
    margin-top: 0 !important
}

.is-marginless-bottom {
    margin-bottom: 0 !important
}

.is-marginless-left {
    margin-left: 0 !important
}

.is-marginless-right {
    margin-right: 0 !important
}

.page.is-overlay {
    @include until($desktop) {
        padding-top: 440px;
    }
    @include from($desktop) {
        padding-top: 440px;
    }
}

.has-image-centered {
    margin-left: auto !important;
    margin-right: auto !important;;
}

.has-margin-top {
    margin-top: 2em;
}

// Prevent icons being returned as 'click' targets
a svg {
    pointer-events: none;
}

a svg path {
    pointer-events: none;
}
